{% extends "layoutBackend.html" %}
{% block menu %}
	{% include 'userMenu.html' %}
{% endblock %}
{% block content %}
<div class="wrapper">
		{% if message %}
			<div class="text-center bg-danger">
				<p>{{ message }}</p>
			</div>
		{% endif %}
		<h3 class="text-center">Nuevo Incidente</h3>

		<form class="form-horizontal" method="POST" action="./?class=UsuarioController&amp;action=saveIncident">
			<div class="form-group">
				<label for="nroCliente" class="col-md-4 control-label">N&uacute;mero de Cliente</label>
				<div class="col-md-4">
					<input id="nroCliente" min="0" class="form-control" type="number" name="nroCliente" required placeholder="N&uacute;mero de Cliente">
				</div>
			</div>

			<div class="form-group">
				<label for="descripcion" class="col-md-4 control-label">Descripcion</label>
				<div class="col-md-4">
					<textarea id="descripcion" class="form-control" name="descripcion" required>
					</textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="descripcion" class="col-md-4 control-label">Lista Objetos</label>
				<div class="col-md-4">
					<input class="form-control" type="text" name="objeto[]" value="Ingrese Objeto" />
				</div>
				<div class="col-md-4">
					<input class="btn btn-primary" type="button" id="btn_agregar" onclick="addField()" value="Agregar" />
				</div>
			</div>
			<div id="lista" class="form-group">
			</div>

			<div class="form-group">
				<div class="col-lg-offset-4 col-md-6">
					<input type="reset" class="btn btn-default" value="Limpiar Formulario">
					<input type="submit" class="btn btn-primary" value="Guardar">
				</div>
			</div>
		</form>
	</div>
{% endblock %}