{% extends "layoutBackend.html" %}
{% block menu %}
	{% include 'userMenu.html' %}
{% endblock %}
{% block content %}
	{% if message %}
		<div class="text-center bg-info"><p>{{ message }}</p></div>
	{% endif %}
	<form class="form-horizontal" method="POST" action="./?action=listProducts">
		<div class="form-group">
			<label class="col-md-4 control-label" for="productType">Tipo de Producto</label>
			<div class="col-md-4">
				<select id="productType" name="productType" class="chosen" data-placeholder="Seleccione un Tipo de Producto" onchange="">
					<option value="">Seleccionar tipo</option>
					{% for tipo in tipos %}
						<option value="{{ tipo.initials }}">{{ tipo.description }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-4 col-md-6">
				<input type="submit" class="btn btn-primary" value="Aceptar">
			</div>
		</div>
	</form>
{% endblock %}